body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: #92c7cf;
    text-decoration: none;
  }
  
  a:hover {
    color: #5faee3;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }
  
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #FFB200;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: rgb(0, 0, 0);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/* ----------------------------------------- */
  #header {
    z-index: 997;
    transition: all 0.5s;
    padding: 0px 0;
    background: #92c7cf;
  }
  
  #header.header-scrolled {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
  }
  
  #header .logo h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: Eras ITC
  }
  
  #header .logo h1 a,
  #header .logo h1 a:hover {
    color: #222222;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }

  /*  */
  /*--------------------------------------------------------------
# login Section
--------------------------------------------------------------*/
#login {
    width: 100%;
    height: 70vh;
    margin-top: 70px;
    text-align: center;
  }
  
  #login h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: black;
  }
  
  #login h2 {
    color: #484848;
    margin-bottom: 50px;
    font-size: 24px;
  }
  
  #login .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #000000;
    border: 2px solid #92c7cf;
  }
  
  #login .btn-get-started:hover {
    background: #FFB200;
    color: #fff;
  }
  
  #login .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  #login .h2 {
    margin: -20px !important;
  }
  
  @media (min-width: 1024px) {
    #login {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 991px) {
    #login {
      height: 100vh;
    }
  
    #login .animated {
      -webkit-animation: none;
      animation: none;
    }
  
    #login .login-img {
      text-align: center;
    }
  
    #login .login-img img {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    #login {
      margin-top: 20px;
    }
  
    #login h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #login h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  
    #login .login-img img {
      width: 70%;
    }
  }
  
  @media (max-width: 575px) {
    #login .login-img img {
      width: 80%;
    }
  }
  
  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }
  /*  */
  /* login_id */
  #login_id{
    text-align: center;
    background-image: url(../img/SGSITS.png);

  }

  /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
  color: #222222;
  font-size: 14px;
}

#footer .credits {
  font-size: 13px;
  padding-top: 5px;
  color: #222222;
}

#footer .footer-links a {
  color: #222222;
  padding-left: 15px;
}

#footer .footer-links a:first-child {
  padding-left: 0;
}

#footer .footer-links a:hover {
  color: #FFB200;
}
/* End of footor */

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}