<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - NFC Health Hub</title>
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- Add any additional meta tags, stylesheets, or scripts here -->
    <script>
        window.onload = function() {
            // Function to submit the form
            function submitForm() {
                document.getElementById("form").submit(); // Submit the form
                // Redirect to the dashboard.html after submitting the form
                window.location.href = "dashboard.html";
            }
            // Call the submitForm function after a delay (adjust delay as needed)
            setTimeout(submitForm, 3000); // 3000 milliseconds = 3 seconds
        }
    </script>
</head>
<body>
    <header id="header" class="header-scrolled">
        <div class="logo">
            <h1><a href="#">NFC Health Hub</a></h1>
            <h2></h2>
        </div>
    </header>

    <section id="dashboard">
        <h2>Add Patient</h2>
        <style>
            .ss-q-title,
            .ss-secondary-text {
                display: none !important;
            }
        </style>
        
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScgZ3TKYxe44HGyBfdcTdzyO-liS4FWkoGZfWjVqQpQ8QoHRw/viewform?embedded=true" width="1540" height="2000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

        <!-- Add any dashboard content here -->
    </section>

    <!-- ======= Footer ======= -->
    <!-- <section>
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong style="font-family: Eras ITC">Harshal Jain, Murtaza , Utkarsh Jyotishi</strong>.
                All Rights Reserved
            </div>
            <div class="credits">
                Designed For <a href="#jdm/JDM.html"><strong>Minor Project</strong></a>
            </div> -->
        <!-- </div>
    </footer>
    </section>  -->
    <!-- End Footer -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
</body>
</html>
