<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - NFC Health Hub</title>
    <link href="assets/css/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script>
        var socket = io();
        socket.on('nfc_update', function(data) {
            document.getElementById('nfc_uid').innerText = data.tag_uid;
        });
    </script>
</head>

<body>
    <header id="header" class="header-scrolled">
        <div class="logo">
            <h1><a href="#">Welcome to NFC Health Hub</a></h1>
        </div>
    </header>

    <section id="dashboard">
        <h2>Dashboard</h2>
        <div class="rfid">
            <img src="assets/img/rfid.gif" style="height: 200px; border-radius: 25px;" alt="RFID Card">
            <br>
            Tap Patient Card
        </div>
        <br>
        <!-- NFC Tag UID display -->
        <p>NFC UID: <span id="nfc_uid"></span></p>
    
        <br>
        <a href="/patient_info" class="btn-get-started">Prescription</a>
        <a href="add_patient.html" class="btn-get-started">Add Patient</a>
        <!-- Real-Time NFC Display -->
        
    </section>

    <!-- Socket.IO script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
            console.log('Socket.IO connected:', socket);

            // Event handler for receiving RFID updates
            socket.on('rfid_update', function(data) {
                console.log('Received RFID update:', data);
                document.getElementById('rfid-value').innerText = 'RFID Tag UID: ' + data.tag_uid;
            });
    </script>

      <!-- ======= Footer ======= -->
      <section>
        <footer id="footer">
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong style="font-family: 'Eras ITC', sans-serif">Harshal Jain, Murtaza Sogiyawala, Utkarsh Jyotishi</strong>.
                    All Rights Reserved
                </div>
            </div>
        </footer></section>
        <!-- End Footer -->
</body>
</html>